.Rproj.user
.Rhistory
.RData
.Ruserdata
data
inst/doc
doc
Meta
**/*_cache
README.html
test_scripts/
tests/test_spec/full_sets
/doc/
/Meta/
vignettes/*.html
vignettes/groups_files/
vignettes/quickstart_files/
vignettes/*.R
